.wr-class {
background-image: url(../media/class-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: top;
padding-top: 136px;
padding-bottom: 80px;
}
.wr-class .container {
    position: relative;
}
.class-body-text {
    display: inline-flex;
    align-items: center;
    width: 123px;
    height: 123px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to top, #afc6cc, #06335c);
    padding: 5px;
    box-sizing: border-box;
    top: 38%;
    right: 46%;
    p {
        font-family: "OpenSansB";
        font-size: 20px;
        color: #0b3e6e;
        text-align: center;
    }
    span {
        font-family: "OpenSans";
    }
}
.class-body-text2 {
    background-color: #fff;
    padding: 14.1px;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
}
.women-classes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h4, p {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.51);
    }
}
.men-classes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.women-classes,
.men-classes {
    h4 {
        font-family: "OpenSansB";
        font-size: 30px;
        line-height: 1.6;
        margin-bottom: 15px;
    }
    p {
        font-family: "OpenSans";
        font-size: 14px;
        max-width: 364px;
        line-height: 1.71;
        margin-bottom: 50px;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "OpenSansB";
        font-size: 14px; 
        width: 190px;
        height: 40px;
        box-sizing: border-box;
    }
}
.women-classes {
    a {
        line-height: 3.43;
        border: solid 0.5px #f5f5f5;
    }
}
.men-classes {
    h4, p, a {
        color: #0b3e6e;
    }
    a {
        font-size: 18px;
        line-height: 2.67;
        border: solid 0.5px #0a3e6e;
    }
}