@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSansR.otf") format("opentype"),
        url("../fonts/OpenSansR.woff") format("woff"),
        url("../fonts/OpenSansR.ttf") format("truetype");  
}
@font-face {
    font-family: "Renfrew";
    src: url("../fonts/Renfrew.otf") format("opentype"),
        url("../fonts/Renfrew.woff") format("woff"),
        url("../fonts/Renfrew.ttf") format("truetype");  
}
@font-face {
    font-family: "OpenSansB";
    src: url("../fonts/OpenSans-B.otf") format("opentype"),
        url("../fonts/OpenSans-B.woff") format("woff"),
        url("../fonts/OpenSans-B.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSansL";
    src: url("../fonts/OpenSans-L.otf") format("opentype"),
        url("../fonts/OpenSans-L.woff") format("woff"),
        url("../fonts/OpenSans-L.ttf") format("truetype");
}