.footer-container {
    background-color: #a0ce4e;
    padding-top: 95px;
    .container {
        display: -webkit-box;
        display: flex;
        padding-top: 120px;
        padding-bottom: 129px;
        -webkit-box-pack: justify;
                justify-content: space-between;
    }
    p, a {
        font-family: "OpenSansL";
        font-size: 14px;
        line-height: 1.72;
    }
}
.social-icons {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    padding-bottom: 85px;
    a {
        background-color: #1f4b6e;
        width: 34px;
        height: 34px;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        border-radius: 50%;
        color: #fff;
        margin: 0 18px;
        text-decoration: none;
        &:hover {
                background-color: #3751d6;
                box-shadow: 0 0 10px #fff;
                &:nth-child(2) {
                    background-color: #68ebe9;
                }
                &:nth-child(3) {
                    background-color: #f14242;
                }
                &:nth-child(4) {
                    background-color: #ed6444;
                }
            } 
        }
    }
.footer-shape {
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.footer-logo,
.footer-contacts,
.footer-newsletter {
    width: 350px;
}
.footer-logo {
    p {
        font-family: "OpenSansL";
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.08px;
        margin-top: 25px;
        margin-bottom: 27px;
    }
}
.footer-contacts {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    h5, span {
        font-family: "OpenSansB";
        font-size: 14px;
        color: #1f4b6e;
    }
    h5 {
        margin: 5px 2px 0;
    }
    p {
        margin: 0;
        max-width: 318px;
    }
    ul {
        margin: 12px 0 0;
    }
    li {
        margin-bottom: 9px;
    }
    a {
        position: relative;
        i {
            position: absolute;
            top: 4px;
            left: 3px;
        }
    &:hover {
        color: #0a3354;
    }
    }
    span {
        padding-left: 22px;
        padding-right: 3px;
    }
}
.footer-adress {
    position: relative;
    margin-top: 34px;
    padding-left: 21px;
    p {
        max-width: 235px;
    }
    i {
        position: absolute;
        left: 0;
        top: 0;
    }
}
.footer-newsletter {
    h4 {
        font-family: "OpenSansB";
        font-size: 20px;
        color: #1f4b6e;
        margin: 0 7px;
    }
    p {
        max-width: 260px;
        margin-top: 16px;
        margin: 16px 7px 29px;
    }
}
.main-form {
    input {
        width: 100%;
        height: 43px;
        border: 1.5px solid #fff;
        color: #cded94;
        background-color: transparent;
        font-size: 14px;
        padding-left: 20px;
        cursor: pointer;
        margin: 0 7px 7px;
        box-sizing: border-box;
        &:hover {
            background-color: #e3f8bf;
        }
    }
    input[type='text']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder {
        color: #cded94;
    }
    input[type='text']::-moz-placeholder, input[type='email']::-moz-placeholder {
        color: #cded94;
    }
    input[type='text']:-ms-input-placeholder, input[type='email']:-ms-input-placeholder {
        color: #cded94;
    }
    input[type='text']::-ms-input-placeholder, input[type='email']::-ms-input-placeholder {
        color: #cded94;
    }
    input[type='text']::placeholder,
    input[type='email']::placeholder {
        color: #cded94;
    }
    button {
        width: 121px;
        height: 41px;
        background-color: #1f4b6e;
        border: none;
        font-family: "OpenSansB";
        font-size: 14px;
        color: #fff;
        margin: 9px 7px;
        cursor: pointer;
        box-sizing: border-box;
        letter-spacing: 1.5px;
        &:hover {
            box-shadow: 0 0 20px #529bd4;
            color: #a0ce4e;
        }
    }
}
footer {
    background-color: #1f4b6e;
    .container {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center;
        padding: 10px 0;
        p {
            font-family: "OpenSansL";
            font-size: 14px;
            letter-spacing: 0.7px;
        }
        ul {
            display: -webkit-box;
            display: flex;
        }
        a {
            font-size: 12px;
            margin-left: 40px; 
            &:hover {
                color: #a0ce4e;
                text-shadow: 0 0 15px #a0ce4e;
            }
        }
    }
}
@media screen and (max-width: 950px) {
    footer {
        .container {
            -webkit-box-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                    justify-content: center;
            ul {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 550px) {
    .social-icons {
        a {
            margin: 0 5px;
        }
    }
    .footer-container {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
        }
    }
    .footer-logo {
        p {
            display: none;
        }
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .footer-logo,
    .footer-contacts,
    .footer-newsletter {
        width: auto;
    }
}
@media screen and (max-width: 400px) {
    .footer-container {
        .container {
            display: -webkit-box;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
        }
    }
    .social-icons {
        a {
            margin: 0 1px;
        }
    }
}
