.header-container {
    height: 100vh;
}
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 93px;
}
.header-fixed {
    position: fixed;
    z-index: 50;
    background-color: rgba(0, 0, 0, .31);
    border-bottom: 4px solid #a0ce4e;
    height: 55px;
}
.menu-mobile {
    display: none;
    .menu-box {
        display: block;
        position: fixed;top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        text-align: center;
        background-color: #a0ce4e;
        z-index: 10;
        transition-duration: 0.5s;
        margin: 0;
        padding: 80px 0;
    ul {
        flex-direction: column;
    }    
    .menu-item {
        padding: 15px 0;
      }
    }    
}
.menu-box.menu-active {
    right: 0;
}
.menu-mobile-btn {
    position: fixed;
    z-index: 60;
    top: 20px;
    right: 40px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 0.5s;
}
.menu-mobile-btn.open {
    transform: rotate(-45deg); 
} 
.line-menu {
    background-color: rgb(55, 185, 38);
    border-radius: 5px;
    width: 100%;
    height: 6px;
  }
  .line-menu.half {
    width: 50%;
  }
  .line-menu.start {
    transition: transform .3s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
.open {
    .line-menu.start {
            transform: rotate(-90deg) translateX(3px);
          }
    .line-menu.end {
            transform: rotate(-90deg) translateX(-3px);
          }
    }
.line-menu.end {
    align-self: flex-end;
    transition: transform 0.3s cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}


%nav-qualities {
    position: absolute;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}
.navigation-slides {
    @extend %nav-qualities;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: -2;
    background: #000;
    li {
        @extend %nav-qualities;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        animation: anim_slides 24.0s linear infinite 0s;
    }
}
.navigation-slides {
    &::after {
    @extend %nav-qualities;
    content: '';
    background: linear-gradient(65deg, rgba(17,46,76,0.55) 59%, transparent 55%), transparent url('../media/Header-rectangle.png') repeat top left;
    }
} 
%images-qualities {
    background-position: center;
    background-size: cover;
}
.navigation-slides {
    li {
        &:nth-child(1) {
            background-image: url("../media/header-slider-main.jpg");
           @extend %images-qualities;
        }
        &:nth-child(2) {
            background-image: url("../media/header-slider-second.jpg");
            animation-delay: 4.0s;
            @extend %images-qualities;
        }
        &:nth-child(3) {
            background-image: url("../media/header-slider-third.jpg");
            animation-delay: 8.0s;
            @extend %images-qualities;
        }
        &:nth-child(4) {
            background-image: url("../media/header-slider-fourth.jpg");
            animation-delay: 12.0s;
            @extend %images-qualities;
        }
        &:nth-child(5) {
            background-image: url("../media/header-slider-fifth.jpg");
            animation-delay: 16.0s;
            @extend %images-qualities;
        }
        &:nth-child(6) {
            background-image: url("../media/header-slider-sixth.jpg");
            animation-delay: 20.0s;
            @extend %images-qualities;
        }
    }
}
@keyframes anim_slides {
    0% {opacity:0;}
    6% {opacity:1;}
    24% {opacity:1;}
    30% {opacity:0;}
    100% {opacity:0;}
}
.header .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}
.logo {
    img {
    margin-top: -10px;    
    width: 156px;
    height: 52px;
    }
}
.logo-decoration {
    color: #a0ce4e;
}
%nav-display {
    display: flex;
    align-items: center;
}
.menu-container {
    @extend %nav-display;
}
nav {
    ul {
        @extend %nav-display;
        &:last-child {
            margin-right: 10px;
        }
    }
    li {
        @extend %nav-display;
        align-items: center;
        margin-left: 40px;
        font-size: 12px;
    }
    a {
        &:hover {
            color: #1f4b6e;
            text-shadow: 0 0 5px #1f4b6e;
        }
    }
}
.menu-icons {
    display: flex;
    a {
        &:hover {
            opacity: 0.8;
        }
    }
    img {
        width: 15px;
        height: 15px;
    }
    li {
        &:first-child {
        margin-right: 15px;
        }
    }
}
.wr-title-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 142px;
    padding-left: 196px;
    p {
        font-size: 14px;
        line-height: 1.72;
        max-width: 490px;
        margin-bottom: 53px;
        text-shadow: 0.3px 0.4px 0 rgba(0, 0, 0, 0.29);
    }
}
%btn-qualities {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "OpenSansB";
    text-transform: uppercase;
    font-size: 14px;
    line-height: 5.14;
    width: 203px;
    height: 39px;
    letter-spacing: normal;
}
.wr-title-text {
    a {
        @extend %btn-qualities;
        border: 0.5px solid #a0ce4e;
        box-sizing: border-box; 
        &:hover {
            box-shadow: 0 0 25px #a0ce4e;
        }
    }
}
@media all and (max-width:1200px) {
    .wr-title-text {
        padding-left: 110px;
    }
}
@media all and (max-width: 950px) {
    .menu-container {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
    .logo {
        position: absolute;
        top: 14px;
    }
    h1 {
        max-width: 350px;
    }
    .wr-title-text {
        p {
            max-width: 430px;
        }
    }
}
@media all and (max-width: 650px) {
    .wr-title-text {
        align-items: center;
        padding-left: 0;
        text-align: center;
        h1, p {
            text-align: center;
        }
    }
}
@media all and (max-width: 320px) {
    .wr-title-text {
        p {
            margin-bottom: 20px;
        }
    }
}
@media all and (max-height: 580px) {
    .wr-title-text {
        padding-top: 0;
    }
}
@media all and (max-height: 410px) {
    .wr-title-text {
        h1 {
            font-size: 24px;
        }
    }
}
@media all and (max-height: 320px) and (max-width:950px) {
    .wr-title-text {
        p {
            margin-bottom: 15px;
        }
    }
}
