@media screen and (max-width: 950px) {
    .menu-container {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
    .logo {
        position: absolute;
        top: 14px;
    }
    .menu-mobile-btn {
        top: 20px;
    }

}