.wr-responsive {
    background-color: #fff;
    padding-top: 181px;
    padding-bottom: 198px;
    position: relative;
    .container {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}
.digital {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.responsive-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -45px;
        height: 5px;
        width: 480px;
        background-image: linear-gradient(to right, #a0ce4e 30%, #014f93 30% 60%, #f34a4a 60% 90%, #00bff3 10%);
        }
    h4 {
        font-family: "OpenSansB";
        font-size: 30px;
        color: #12283e;
        line-height: 1.2;
        margin: 0 auto;
    }    
    p {
        &:first-of-type{
            font-family: "OpenSans";
            font-size: 20px;
            color: #404040;
            max-width: 760px;
            text-align: center;
            position: relative;
            line-height: 2;
            margin: 0;
        }
        &:last-of-type {
            font-family: "OpenSansL";
            font-size: 14px;
            color: #797979;
            max-width: 490px;
            line-height: 1.4;
            margin-top: 4px;
            text-align: center;
        }
    }
}    