.wr-responsive {
    background-color: #fff;
    padding-top: 181px;
    padding-bottom: 197px;
    position: relative;
    .container {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        position: relative;
    }
}
.digital {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
    margin-right: 20px;
}
.responsive-text {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 21px;
    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -45px;
        height: 5px;
        width: 456px;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(28%, #a0ce4e), color-stop(28%, #014f93), color-stop(57%, #f34a4a), color-stop(14%, #00bff3));
        background-image: linear-gradient(to right, #a0ce4e 28%, #014f93 28% 57%, #f34a4a 57% 86%, #00bff3 14%);
        }
    h4 {
        font-family: "OpenSansB";
        font-size: 30px;
        color: #12283e;
        line-height: 1.2;
        margin: 0 auto;
    }    
    p {
        &:first-of-type{
            font-family: "OpenSans";
            font-size: 20px;
            color: #404040;
            max-width: 760px;
            text-align: center;
            position: relative;
            line-height: 2;
            margin: 0;
        }
        &:last-of-type {
            font-family: "OpenSansL";
            font-size: 14px;
            color: #797979;
            max-width: 490px;
            line-height: 1.4;
            margin-top: 4px;
            text-align: center;
            margin-bottom: 0;
        }
    }
}    
@media all and (max-width:650px) {
    .digital {
        margin-right: 0;
        img {
            width: 450px;
        }
    }
}
@media all and (max-width:500px) {
    .responsive-text {
        &::after  {
            width: 300px;
        }
    }
    .digital {
        img {
            width: 300px;
        }
    }
}
