.wr-services {
    background-color: #fff;
    padding-top: 103px;
    padding-bottom: 149px;
}
.services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 37px;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    align-items: center;
}
.serv-icons-fitness {
    grid-column: 1/2;
    grid-row: 1/2;
}
.serv-image-fitness {
    grid-column: 1/2;
    grid-row: 2/3;
}
.serv-ellipse-fitness {
    grid-column: 1/2;
    grid-row: 3/4;
}
.serv-icons-diet {
    grid-column: 2/3;
    grid-row: 1/2;
}
.serv-image-diet {
    grid-column: 2/3;
    grid-row: 2/3;
}
.serv-ellipse-diet {
    grid-column: 2/3;
    grid-row: 3/4;
}
.serv-icons-habbits {
    grid-column: 3/4;
    grid-row: 1/2;
}
.serv-image-habbits {
    grid-column: 3/4;
    grid-row: 2/3;
}
.serv-ellipse-habbits {
    grid-column: 3/4;
    grid-row: 3/4;
}
%serv-h4-style {
    font-family: "OpenSansB";
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 11px;
}
%serv-paragraph-style {
    font-family: "OpenSansL";
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    overflow: hidden;
    height: 55px;
    width: 276px;
    margin: 5px 0;
}
.serv-image-fitness {
    transform: skewX(6deg) skewY(-3deg) rotate(2deg);
    object-fit: none;
    img {
        object-fit: none;
    }
}
.serv-image-diet {
    transform: skew(1deg, 2deg);
}
.serv-image-habbits {
    transform: skew(-5deg, -2deg);
}
.serv-icons-fitness,
.serv-icons-diet,
.serv-icons-habbits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    position: relative;
    h4 {
        @extend %serv-h4-style;
        color: #12283e;
   } 
    p {
        @extend %serv-paragraph-style;
        color: rgba(18, 40, 62, 0.68);
    }  
    &:hover {
        h4 {
            color: #a0ce4e;
        }
        &::after {
            content: '';
            background-color: #000;
            opacity: 0.1;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    } 
}
%services-image-decoration {
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 99%;
}
.serv-image-fitness,
.serv-image-diet,
.serv-image-habbits {
    position: relative;
    img {
        width: 350px;
        height: 230px;
        border-radius: 3px;
        box-sizing: border-box;
        object-position: top;
    }     
    .image-color {
        @extend %services-image-decoration;
        background-color: rgba(18, 40, 62, 0.49);
    }  
    .image-color2 {
        @extend %services-image-decoration;
        background-color: rgba(18, 40, 62, 0.41);
    }
    .image-color3 {
        @extend %services-image-decoration;
        background-color: rgba(18, 40, 62, 0.41);
    }
}
.serv-ellipse-fitness,
.serv-ellipse-diet,
.serv-ellipse-habbits {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 3px solid #959595;
    border-radius: 50%;  
}
.service-description {
    p {
        font-family: "OpenSansB";
        font-size: 20px;
        color: #838383;
        text-align: center;
        margin-top: 43px;
        margin-bottom: 0;
        &:last-child {
            font-family: "OpenSansL";
            font-size: 14px;
            color: #a0a0a0;
            line-height: 1.71;
            margin-top: 3px;
        }
    span {
        color: #a0ce4e;
    }    
    }
}
@media all and (max-width:1200px) {
    .services-content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .serv-ellipse-fitness,
    .serv-ellipse-diet,
    .serv-ellipse-habbits {
        display: none;
    }
    .serv-image-fitness {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .serv-icons-diet {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .serv-image-diet {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .serv-icons-habbits {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .serv-image-habbits {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
@media all and (max-width:800px) {
    .serv-image-fitness,
    .serv-image-diet ,
    .serv-image-habbits {
        img {  
            width: 300px;
            height: 180px;
        }
    }
}
@media all and (max-width:650px) {
    .services-content {
        grid-template-columns: 1fr;
    }
    .serv-image-fitness,
    .serv-image-diet ,
    .serv-image-habbits {
        display: none;
    }
    .serv-icons-fitness {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .serv-icons-diet {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .serv-icons-habbits {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}
