body {
    background-color: #fff;
    font-family: "OpenSans";
    font-size: 16px;
    color: #fff;
    overflow-x: hidden;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    text-decoration: none;
    color: #fff;
}
h1 {
    font-family: "OpenSansB";
    font-size: 50px;
    margin-bottom: 9px;
    line-height: 0.96;
    letter-spacing: normal;
}
ul {
    list-style: none;
    padding-inline-start: 0;
}
