.wr-statistics {
    background-color: #f5f5f5;
    padding-top: 150px;
    padding-bottom: 195px;
}
.showcase {
    height: 460px;
    background-color: #fff;
    box-shadow: 1px 2px 0 0 rgba(0, 0, 0, 0.16);
    border: 1px solid #e2e2e2;
    position: relative;
    button {
        border: 1px solid #fff;
        background-color: transparent;
        box-sizing: border-box;

    }
    p {
        font-family: "OpenSans";
        font-size: 14px;
        color: #737373;
        line-height: 1.71;
        margin-top: 29px;
        margin-left: 23px;
        max-width: 225px;
        height: 50px;
    }
    .stat-more-info {
        font-family: "OpenSansB";
        font-size: 14px;
        background-color: #1f4b6e;
        width: 136px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 48px;
}
}
.showcase-slider {
    .stat-more-info {
        &:hover {
            background-color: #637180;
            opacity: .66;
        }
    }
    img {
        width: 100%;
        height: 250px;
        object-fit: contain;
        object-position: center;
        position: relative;
    }
    .slick-next:before {
        content: url(../media/statistics-arrow-right.png);
        margin-left: 15px;
    }
    .slick-prev:before {
        content: url(../media/statistics-arrow-left.png);
        margin-left: -15px;
    }
}
.showcase-image {
    .stat-hidden-text {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    box-sizing: border-box;
    height: 30px;
    width: 150px;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: "OpenSansB";
    font-size: 12px; 
    &:hover {
        box-shadow: 0 0 20px #12283e;
    }
}
}
.showcase-image {
    position: relative;
    &:hover {
        &::after {
            content: '';
            position: absolute;
            background-color: #12283e;
            opacity: .66;
            width: 100%;
            height: 100%;
            bottom: 0;
        }
        .stat-hidden-text {
            display: flex;
            z-index: 2;
        }
    }
}
.statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 214px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 190px;
        height: 190px;
        border-radius: 50%;
        background-color: #a0ce4e;
        border: 5px solid #fff;
        box-sizing: border-box;
        box-shadow: 1.6px 2.6px 5px 0 rgba(0, 0, 0, 0.14);
        p {
            max-width: 86px;
            text-align: center;
            font-family: "OpenSansB";
            font-size: 20px;
        }
        i {
            padding-top: 15px;
            font-size: 35px;
        }
        &:hover {
            background-color: #1f4b6e;
            border: 5px solid #a0ce4e;
            border-top-left-radius: 27px 27px;
            border-top-width: 10px;
            border-left-width: 10px;
        }
    }
}
